.main-container{
    display: flex;
    justify-content: center;
    /* border: 2px solid rgb(76, 0, 255); */
    height: 100vh;
}
.payroll-container{
    width: 180vh;
    height: 100%;
    /* border: 2px solid red; */
}
.payroll-item{
    display: flex;
    justify-content: center;
}
.frame{
    /* border: 2px solid rgb(76, 0, 255); */
    height: 65vh;
    width: 60%;
    
     
}
h1{
    text-align: center;
}