.log-data-container{
    display: grid;
    grid-template-columns: 55% 45%;
    

}

.list-container{
    height: 520px;
    width: 100%;
    overflow-x: hidden;
}

.frame{
    height: 80vh;
    width: 600px;
}
