html{ 
  overflow-x: hidden;
  overflow-y: hidden; 
}
.main-nav-container {
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;

}
.del-btn{
  background-color: rgb(82, 29, 29);
}

.main-container{
  display: flex;
  width: 180vh;
  justify-content: center;
  height: 80vh;

}


.list-container{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth;
  

}
.create-btn{
  margin-top: 50px;
}
.create-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-item-container{
  display: grid;
  padding: 70px;
  grid-template-columns: 1fr 1fr;
  border: 4px solid rgb(160, 159, 159);
}
.list-container, .create-container, .edit-container, .attendance-container, .payroll-container{
  text-align: left;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: rgb(226, 226, 226);
  color: #000;
  margin: 30px;
  border: 5px solid rgb(114, 114, 114);
  border-radius: 10px ;
}
.list-item{
  display: grid;
  color: white;
}
table .item{
  background-color: rgb(29, 29, 29);
  width: 150px;
  padding: 5px;
  border-radius: 5px;
  
}
.item:nth-child(even) { 
  background: rgb(32, 32, 32); 
}

.edit-btn{
 margin: 10px; 
 color: rgb(255, 255, 255);
 background-color: black;
}




